{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags helpers_tags %}
{% check_for_moya_app as moya_flag %}
{% block content %}
<style>
    #about-header {
        background-image:url('{{STATIC_URL}}{{ THEME_URL }}img/about-pattern.jpg');
        background-size:60%;
        /*--For mobile devices--*/
        /* @media (max-width: 1024px) {
            background-size:cover;
            background-image:url('{{STATIC_URL}}{{ THEME_URL }}img/about-bg--mobile.jpg');
           
        } */
    }

</style>



<!-- #region HEADER -->
<header id="about-header" class="md:flex md:flex-col md:align-center md:justify-center overflow-hidden has-bg">
    {% include 'includes/main-nav.html' %}
    <!-- #region HEADER CONTENT -->
    <div class="container py-10 lg:py-16 my-auto flex flex-col md:flex-row items-center grid grid-cols-2 gap-8">
        <div class="header-content col-span-2 mb-9 md:mb-0 lg:col-span-1 lg:pr-20">
            {% if page.header_title %}
            <h1 class="page-header">
                {{ page.header_title }}
            </h1>
            {% endif %}
            {% if page.header_subtitle %}
            <p class="text-base">
                {{ page.header_subtitle }}
            </p>
            {% endif %}
        </div>
        <!-- TODO: class: -mb-16to be added when we want to align to the bottom else add mb-3-->
        {% if page.header_image %}
        <div class="col-span-2 -mb-16 md:col-span-1  about-header--img ">
            <img class="w-full" src="{% image_url page.header_image 'fill-630x540' %}" alt="">
        </div>
        {% endif %}
    </div>
    <!-- #endregion HEADER CONTENT -->
</header>
<!-- #endregion HEADER -->
{% for block in page.body %}
{% if not block.value.hide_section %}
{% if moya_flag %}
{% if not block.value.hide_on_moya %}
{% include_block block %}
{% endif %}
{% else %}
{% include_block block %}
{% endif %}
{% endif %}
{% endfor %}
{% endblock %}