{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags helpers_tags %}
{% check_for_moya_app as moya_flag %}  
{% block content %}
<!-- #region HEADER -->

{% if bgColor %}
<style>
    .home-header--content {
        text-shadow:
        0 0 15px rgb(245,122,34),
        10px 0 15px rgb(245,122,34),
        0 10px 15px rgb(245,122,34),
        -10px 0 15px rgb(245,122,34),
        0 -10px 15px rgb(245,122,34);
    }
    </style>
{% endif %}

<header class="home-header overflow-hidden md:flex md:flex-col md:align-center md:justify-center" {% if page.header_background_image %}{% for block in page.header_background_image %}{% if block.block_type == 'Image' %}style="background:url('{% image_url block.value 'width-1920' %}') {% if bgColor %}, linear-gradient(rgb(245,122,34), rgb(245,122,34) {% endif %}"{% elif block.block_type == 'Document' %}style="background-image:url('{{ block.value.file.url }}'){% if bgColor %}, linear-gradient(rgb(245,122,34), rgb(245,122,34)) {% endif %}"{% endif %}{% endfor %}{% endif %}>
    {% include 'includes/main-nav.html' with darkbg='true' %}
    <!-- #region HEADER CONTENT -->
    <div class="container grid grid-cols-1 lg:grid-cols-12  items-center py-10 md:py-16 my-auto md:flex-row">
        {% if page.header_image %}
            {% for block in page.header_image %}
                {% if block.block_type == 'Image' %}
                    <img class="lg:col-span-5 lg:order-2 max-lg:mb-5 max-lg:max-h-[40vh] max-md:max-w-[70vw] mx-auto right-col--img"  src="{% image_url block.value 'width-525' %}" alt="">
                {% elif block.block_type == 'Document' %}
                    <img class="lg:col-span-5 lg:order-2 max-lg:mb-5 max-lg:max-h-[40vh] max-md:max-w-[70vw] mx-auto"  src="{{ block.value.file.url }}" alt="">
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="home-header--content lg:col-span-7 text-center lg:pr-20 lg:text-left lg:order-1">
            {% if page.header_left_side_image %}
                {% for block in page.header_left_side_image %}
                    {% if block.block_type == 'Image' %}
                        <img class="left-col--img mb-5"  src="{% image_url block.value 'width-900' %}" alt="">
                    {% elif block.block_type == 'Document' %}
                        <img class="left-col--img mb-5"  src="{{ block.value.file.url }}" alt="">
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if page.header_title %}
                <h1 class="mb-4 font-bold text-header-h1">
                    {{ page.header_title|linebreaksbr }}
                </h1>
            {% endif %}
            {% if page.header_subtitle %}
                <p class="font-body text-header-subtitle">
                    {{ page.header_subtitle|linebreaksbr }}
                </p>
            {% endif %}
            <!-- #region HEADER LINKS -->
            <div class="home-header--links  lg:mt-12 lg:justify-start flex justify-center mt-6">
                {% if page.whatsapp_link and not moya_flag %}
                    <a href="{{ page.whatsapp_link }}" target="_blank" class="hover:scale-105 transition-transform"><img
                            class='mx-5 w-11 '
                            src="{{ STATIC_URL }}{{ THEME_URL }}img/icons/whatsapp.png" alt="">
                        {% if page.whatsapp_link_text %}
                            <span class="text-xs text-center block mt-2">{{ page.whatsapp_link_text|linebreaksbr }}</span>
                        {% endif %}
                    </a>
                {% endif %}
                {% if page.messenger_link and not moya_flag %}
                    <a href="{{ page.messenger_link }}" target="_blank" class="hover:scale-105 transition-transform"><img class='mx-5 w-11 '
                            src="{{ STATIC_URL }}{{ THEME_URL }}img/icons/messenger.png" alt="">
                            {% if page.messenger_link_text %}
                                <span class="text-xs text-center block mt-2">{{ page.messenger_link_text|linebreaksbr }}</span>
                             {% endif %}
                    </a>
                {% endif %}
                {% if page.moya_link %}
                    <a href="{{ page.moya_link }}" target="_blank" class="hover:scale-105 transition-transform"><img class='mx-5 w-11 '
                            src="{{ STATIC_URL }}{{ THEME_URL }}img/icons/app.png" alt="">
                        {% if page.moya_link_text %}
                            <span class="text-xs text-center block mt-2">{{ page.moya_link_text|linebreaksbr }}</span>
                        {% endif %}
                    </a>
                {% endif %}
            </div>
            <!-- #endregion HEADER LINKS -->
        </div>
    </div>
    <!-- #endregion HEADER CONTENT -->
</header>
<!-- #endregion HEADER -->
{% for block in page.body %}
    {% if not block.value.hide_section %}
        {% if moya_flag %} 
            {% if not block.value.hide_on_moya %}
                {% include_block block %}
            {% endif %} 
         {% else %} 
            {% include_block block %}
         {% endif %}  
    {% endif %}
{% endfor %}
{% endblock %}