{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}
<!-- #region HEADER -->
<header class=" md:flex md:flex-col md:align-center md:justify-center overflow-hidden">
    {% include 'includes/main-nav.html' %}
    <!-- #region HEADER CONTENT -->
    <div class="container py-16 my-auto flex flex-col md:flex-row items-center grid grid-cols-2">
        <div class="col-span-2 mb-9 lg:mb-0 lg:col-span-1 lg:pr-20 ">
            {% if page.header_title %}
            <h1 class="page-header">
                {{ page.header_title }}
            </h1>
            {% endif %}
            {% if page.header_subtitle %}
            <p class="text-base">
                {{ page.header_subtitle|linebreaksbr }}
            </p>
            {% endif %}
        </div>
        {% if page.header_youtube_video_id %}
        <div class="col-span-2 lg:col-span-1 mb-3 lg:mx-auto lg:mt-auto relative w-full">
        
            {% if not moya_flag %}
            <div>
                <div x-show="!play" class="absolute top-0 left-0 w-full h-full z-10" x-data="{ play: false }" @click="play= 1" x-init="$watch('play', (value) => { if (value) { player.playVideo(); }})">
                    <div id="play_button" x-transition
                         class="scale-75 lg:scale-100 z-10 w-20 h-20 rounded-full bg-primary-500 absolute top-1/2 left-1/2 !-translate-x-1/2 !-translate-y-1/2 flex items-center justify-center pointer-events-none">
                        <svg width="25" height="39" viewBox="0 0 25 39" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M25 19.5L0.249998 38.1195L0.25 0.880452L25 19.5Z" fill="#D9D9D9" />
                        </svg>
                    </div>
                </div>
                <div class="w-full h-0 pb-[56.7%]  relative">
                    <iframe id="header-video" class="absolute top-0 left-0 w-full h-full"
                            src="https://www.youtube.com/embed/{{ page.header_youtube_video_id }}?enablejsapi=1"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    <script type="text/javascript">
                        var tag = document.createElement('script');
                        tag.id = 'iframe-demo';
                        tag.src = 'https://www.youtube.com/iframe_api';
                        var firstScriptTag = document.getElementsByTagName('script')[0];
                        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
                        var player;

                        function onYouTubeIframeAPIReady() {
                            player = new YT.Player('header-video', {});
                        }
                    </script>
                </div>
            </div>
            {% elif moya_flag %}

            <a href="https://www.youtube.com/watch?v={{ page.header_youtube_video_id }}" target="_blank">
              
            {% image page.header_video_poster fill-320x180 format-jpeg as image %}
            <img class="w-full" src="{{ image.url }}" alt="">
                <div id="play_button" x-transition class="scale-75 lg:scale-100 z-10 w-20 h-20 rounded-full bg-primary-500 absolute top-1/2 left-1/2 !-translate-x-1/2 !-translate-y-1/2 flex items-center justify-center pointer-events-none">
                    <svg width="25" height="39" viewBox="0 0 25 39" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M25 19.5L0.249998 38.1195L0.25 0.880452L25 19.5Z" fill="#D9D9D9" />
                    </svg>
                </div>
            </a>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <!-- #endregion HEADER CONTENT -->
</header>
<!-- #endregion HEADER -->
<section class="bg-neutral-100 py-[1px]" id="services-container">
</section>
<!-- #region SERVICES -->
<section class="bg-neutral-100 py-12 ">
    <!-- #region SERVICES FILTERS -->
    <form class="container pb-12" action="{% pageurl page %}#services-container">
        {{ form.non_field_errors }}
        {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
        {% endfor %}
        {% for field in form.visible_fields %}
        <!-- #region SERVICE FILTERS -->
        {% if field.field.widget.input_type == 'checkbox' %}
        <label class="text-neutral-500 block" for="{{ field.id_for_label }}">{{ field.label }}</label>
        <div class="flex gap-y-3 gap-x-5 md:gap-y-4 md:gap-x-7 my-2 flex-wrap ">
            {% for pk, choice in field.field.widget.choices %}
            <div class="flex gap-2 items-center pr-2">
                <input class="rounded bg-transparent" {% if pk|slugify in field.data %}
                       checked {% endif %} id="id_{{ field.name }}_{{ forloop.counter0 }}"
                       name="{{ field.name }}"
                       type="checkbox" value="{{ pk }}" />
                <label for="id_{{ field.name }}_{{ forloop.counter0 }}" >{{ choice }}</label>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if field.field.widget.input_type == 'select' %}
        <label class="text-neutral-500 mt-6 block" for="{{ field.id_for_label }}">{{ field.label }}</label>
        <div class="mt-2">
            <select name="{{ field.name }}" id="{{ field.id_for_label }}"
                    class="rounded w-full max-w-lg border-2 border-neutral-500">
                {% for id, name in field.field.choices %}
                <option {% if id|slugify == field.data|slugify %} selected {% endif %}
                        value="{{ id }}">{{ name }}
                </option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        {% endfor %}
        <button type="submit" id="form-button" name="submit"
                class="border bg-neutral-600 px-4 py-3 rounded text-white font-medium inline-block mt-5 inline-flex items-center gap-2 hover:bg-primary-700 hover:text-white transition-colors duration-100 ease-in;">
            <svg width="22" height="22" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor"
                      d="M10.68 11.74a6 6 0 0 1-7.922-8.982a6 6 0 0 1 8.982 7.922l3.04 3.04a.749.749 0 0 1-.326 1.275a.749.749 0 0 1-.734-.215ZM11.5 7a4.499 4.499 0 1 0-8.997 0A4.499 4.499 0 0 0 11.5 7Z" />
            </svg>
            Search
        </button>
        <!-- #endregion TIMELINE ELEMENT -->


    </form>
    <!-- #endregion SERVICES FILTERS -->
    <!-- #region SERVICES LISTING -->
    <div class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for service_page in services %}
        <!-- #region LOCATION -->
        <div class="flex flex-col bg-white  rounded hover:shadow-lg border hover:border-primary-500 transition-all duration-300 ">
            <a class=" p-4 block mb-0 grow "
               href="{% pageurl service_page %}">
                <h3 class="text-h4 mb-2 text-primary-500 font-medium">
                    {{ service_page.title }}
                </h3>
                <p class="text-sm mb-2 text-black">
                    {% if service_page.preview_text %}
                    {{ service_page.preview_text }}
                    {% else %}
                    {{ service_page.text|truncatewords:'50' }}
                    {% endif %}
                </p>
                <p class="font-medium mt-3 mb-1">{{ service_page.price }}</p>
            </a>
            <div class=" px-4 pb-4 mt-auto rounded">
                {% if service_page.phone %}
                <a class="button !mt-0 w-full" href="tel:{{ service_page.phone }}">
                    <img class="w-4" src="{{ STATIC_URL }}img/icons/phone.png" alt="">
                    {{ service_page.phone }}
                </a>
                {% elif service_page.messenger_link %}
                <a href="{{ service_page.messenger_link }}" class="button">
                    <img class="w-4 w-full" src="{{ STATIC_URL }}img/icons/chat.png" alt="">
                    Chat on Messenger
                </a>
                {% endif %}
            </div>
        </div>
        <!-- #endregion LOCATION -->
        {% empty %}
        <div class="p-10 text-center bg-neutral-200 rounded w-full  col-span-3">
            No results found. Please try different filter parameters!
        </div>
        {% endfor %}
    </div>
    <!-- #endregion SERVICES LISTING -->
</section>
<!-- #endregion SERVICES -->
{% endblock %}