{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags helpers_tags %}
{% check_for_moya_app as moya_flag %}

{% block content %}

{% if not moya_flag %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
{% endif %}

<!-- #region HEADER -->
<header class=" md:flex md:flex-col md:align-center md:justify-center overflow-hidden">
    {% include 'includes/main-nav.html' %}
    <!-- #region HEADER CONTENT -->
    <div class="container py-10 lg:py-16 my-auto flex flex-col md:flex-row  grid grid-cols-12">
        <div class="col-span-12 md:col-span-8 mb-9 lg:mb-0 lg:col-span-8 md:pr-10 lg:pr-20" id="filter-container">
            <h1 class="page-header">
                {{ page.title }}
            </h1>
            <!-- #region BLOG FILTERS -->
            {% if not moya_flag %}
            <div class="relative">
                <div class="swiper-button-prev  bg-gray-100 rounded-full !w-10 !h-10 flex justify-center items-center cursor-pointer drop-shadow absolute !-left-6  !top-9 rotate-180">
                    <img class="w-2" loading="lazy" src="{{STATIC_URL}}{{THEME_URL}}img/icons/angle-right_dark.png" alt="">
                </div>
                <div
                     class="swiper-button-next  bg-gray-100 rounded-full !w-10 !h-10 flex justify-center items-center cursor-pointer drop-shadow absolute  !-right-6  !top-9 ">
                    <img class="w-2" loading="lazy" src="{{STATIC_URL}}{{THEME_URL}}img/icons/angle-right_dark.png" alt="">
                </div>
            </div>
            {% endif %}

            
            <div class="swiper">

                <div class="gapy-2 mt-4 mb-8 pr-6 {% if not moya_flag %} inline-flex overflow-none {% elif moya_flag %} flex flex-wrap {% endif %} py-1 relative" id="filter-wrapper">

                    {% if is_category %}
                    <a href="{% pageurl page.get_parent %}"
                       class="swiper-slide !w-auto{% if not moya_flag %}  whitespace-nowrap {% endif %} category-button px-4 py-2 border border-primary-500 text-primary-500 hover:text-white hover:bg-primary-500">All</a>
                    {% for sibling_page in page.get_siblings.live %}
                    <a href="{% pageurl sibling_page %}"
                       class=" swiper-slide !w-auto  {% if sibling_page.id == page.id %}whitespace-nowrap category-button px-4 py-2 border border-primary-500 bg-primary-500 text-white{% else %}rounded-full px-4 py-2 border border-primary-500 text-primary-500 hover:text-white hover:bg-primary-500{% endif %}">
                        {{sibling_page.title }}
                    </a>
                    {% endfor %}

                    {% else %}
                    <a href="{% pageurl page %}"
                       class="swiper-slide !w-auto mr-2 {% if not moya_flag %}  whitespace-nowrap {% endif %} category-button px-4 py-2 border border-primary-500 bg-primary-500 text-white">All</a>
                    {% for child_page in page.get_children.live %}
                    <a href="{% pageurl child_page %}"
                       class="swiper-slide !w-auto mr-2 {% if not moya_flag %}  whitespace-nowrap {% endif %} category-button px-4 py-2 border border-primary-500 text-primary-500 hover:text-white hover:bg-primary-500">
                        {{ child_page.title }}</a>
                    {% endfor %}
                    {% endif %}


                </div>

            </div>

            <!-- #region FEATURED ARTICLE MOBILE-->

            {% if featured_post %}
            {% with post=featured_post %}
                <div class="col-span-2 relative w-full p-4 bg-neutral-100 rounded md:hidden mb-8">
                    {% include 'blog/includes/featured-post-thumbnail.html' %}
                </div>
            {% endwith %}
            {% endif %}
            <!-- #endregion FEATURED ARTICLE MOBILE -->

            <!-- #endregion BLOG FILTERS -->
            <!-- #region ARTICLES GRID -->
            <div class="flex flex-col md:grid md:grid-cols-2 gap-6 md:gap-3 lg:gap-8 ">


                {% for post in posts %}
                {% include 'blog/includes/post-thumbnail.html'%}
                {% empty %}
                {% endfor %}
                <!-- #endregion ARTICLES GRID -->

            </div>
            {% if posts.has_previous or posts.has_next %}
            <!-- #region PAGINATION -->
            <ul class="flex items-center gap-1 my-6 text-medium">
                {% if posts.has_previous %}
                <li>
                    <a href="?page={{ posts.previous_page_number }}" class="-ml-2 flex justify-center items-center category-button w-12 h-12 hover:scale-75 hover:bg-neutral-200 transition-all group">
                        <img
                             class="w-4 group-hover:scale-80"
                             src="{{STATIC_URL}}{{THEME_URL}}img/icons/slider-prev.png" alt=""></a>
                </li>
                {% endif %}
                <li> {{ posts.number }} of {{ posts.paginator.num_pages }}</li>
                {% if posts.has_next %}
                <li>
                    <a href="?page={{ posts.next_page_number }}"
                       class="flex justify-center items-center category-button w-12 h-12 hover:scale-75 hover:bg-neutral-200 transition-all group">
                        <img class="w-4 group-hover:scale-80" src="{{STATIC_URL}}{{THEME_URL}}img/icons/slider-next.png" alt=""></a>
                </li>
                {% endif %}
            </ul>
            <!-- #endregion PAGINATION -->
            {% endif %}
        </div>

        <!-- #region FEATURED ARTICLE DESKTOP-->

        {% if featured_post %}

        {% with post=featured_post %}
        <div
             class="col-span-12 md:col-span-4 mb-auto md:mx-auto relative w-full p-4 bg-neutral-100 rounded max-md:hidden">

            {% include 'blog/includes/featured-post-thumbnail.html' %}


        </div>
        {% endwith %}
        {% endif %}
        <!-- #endregion FEATURED ARTICLE DESKTOP-->

        <!-- #endregion HEADER CONTENT -->

</header>

{% for block in page.body %}
{% if not block.value.hide_section %}
{% include_block block %}
{% endif %}
{% endfor %}


{% if not moya_flag %}
<style>
    .swiper-button-prev::after,
    .swiper-button-next::after {
        display: none;
    }

    .swiper-button-disabled {
        display: none;
    }
</style>

<script>
    const classes = {
        'controls': 'slider-controls',
        'backArrow': 'slider-back',
        'nextArrow': 'slider-next',
    };


    function checkOverflow() {
        const elemParent = document.getElementById("filter-container").offsetWidth
        const elem = document.getElementById("filter-wrapper").offsetWidth
        const sliderArrows = document.getElementById("slider-arrows")

        if (elem >= elemParent) {
            document.getElementById("filter-wrapper").classList.add('swiper-wrapper');
            // sliderArrows.classList.remove('hidden');
            const swiper = new Swiper('.swiper', {
                // Optional parameters
                direction: 'horizontal',
                loop: false,
                loopFillGroupWithBlank: false,
      
                slidesPerView:'auto',
                slidesPerGroupAuto:true,

                
                // If we need pagination
                pagination: {
                    el: '.swiper-pagination',
                },

                // Navigation arrows
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },

                // And if we need scrollbar
                scrollbar: {
                    el: '.swiper-scrollbar',
                },
            });
        }



    }
    checkOverflow();

    document.getElementById("filter-wrapper").classList.add('swiper-wrapper');
    // sliderArrows.classList.remove('hidden');
    const swiper = new Swiper('.swiper', {
        // Optional parameters

        slidesPerView: 'auto',

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    });
</script>
{% endif %}

{% endblock %}