{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags helpers_tags %}
{% check_for_moya_app as moya_flag %}

{% block content %}
<!-- #region HEADER -->
<header class=" md:flex md:flex-col md:align-center md:justify-center overflow-hidden">

    {% include 'includes/main-nav.html' %}
</header>
<!-- #endregion HEADER -->

<!-- #region ARTICLE CONTAINER -->

<section class="container grid grid-cols-12 py-10 lg:py-16 lg:gap-8">
    <!-- #region ARTICLE IMAGE -->

    <div class="col-span-12 lg:col-span-5">
        <a href="{% pageurl page.get_parent.get_parent %}" class="back-button">
            <img class="w-2" src="{{STATIC_URL}}{{ THEME_URL }}img/icons/slider-prev.png" alt="">
            {{ page.get_parent.get_parent.title }}
        </a>


        {% if page.image %}
        <img class="w-full mr-4 rounded" src="{% image_url page.image  'fill-500x500|format-jpeg' %}" alt="">
        {% endif %}
        {% if page.show_social_media_share_buttons %}
            <div class="flex gap-2 items-center mt-3">
                <p class="text-gray-300">

                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" class="h-4"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <path fill="currentColor" d="M307 34.8c-11.5 5.1-19 16.6-19 29.2v64H176C78.8 128 0 206.8 0 304C0 417.3 81.5 467.9 100.2 478.1c2.5 1.4 5.3 1.9 8.1 1.9c10.9 0 19.7-8.9 19.7-19.7c0-7.5-4.3-14.4-9.8-19.5C108.8 431.9 96 414.4 96 384c0-53 43-96 96-96h96v64c0 12.6 7.4 24.1 19 29.2s25 3 34.4-5.4l160-144c6.7-6.1 10.6-14.7 10.6-23.8s-3.8-17.7-10.6-23.8l-160-144c-9.4-8.5-22.9-10.6-34.4-5.4z" />
                    </svg>
                </p>
                <a class="text-gray-700  flex justify-center border border-gray-700 rounded-full w-8 h-8 p-1.5  hover:text-white hover:bg-primary-500" aria-label="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ page.full_url }}" target="_blank"><svg
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="h-4">
                        <path fill="currentColor"
                              d="m279.14 288 14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
                        </path>
                    </svg>
                </a>


                <a class="text-gray-700  flex justify-center border border-gray-700 rounded-full w-8 h-8 p-1.5  hover:text-white hover:bg-primary-500" aria-label="Share on Twitter" href="https://twitter.com/intent/tweet?text={{ page.full_url }}" target="_blank">

                    <svg
                         class="h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor"
                              d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"
                              </path>
                    </svg>
                </a>


                <a class="text-gray-700  flex justify-center border border-gray-700 rounded-full w-8 h-8 p-1.5  hover:text-white hover:bg-primary-500" aria-label="Share on LinkedIn" href="http://www.linkedin.com/shareArticle?url={{ page.full_url }}&title={{ page.title }}" target="_blank"><svg
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="h-4">
                        <path fill="currentColor"
                              d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z">
                        </path>
                    </svg>
                </a>


            </div>
        {% endif %}
    </div>
    <!-- #endregion ARTICLE IMAGE -->

    <!-- #region ARTICLE CONTENT -->
    <div class="col-span-12 lg:col-span-7 pt-7">
        <a href="{% pageurl page.get_parent %}" class="text-xs uppercase text-primary-500 font-bold tracking-widest mt-2 inline-block">
            {{ page.get_parent.title }}
        </a>
        <h1 class="text-h3 md:text-h2 font-bold mb-3">
            {{ page.title}}
        </h1>
        {% if page.show_like_button %}
            <p x-on:click="onSubmit" id="like-button"  class="rounded-full bg-gray-200 py-1.5 px-3 inline-flex gap-2 items-center cursor-pointer my-1" x-data="{ active: {{ user_has_liked_post }} }" @click="active = ! active" :class="{ '!bg-primary-500 text-white': active }">

                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                    <path :class="{ 'hidden': !active }" fill="currentColor" d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z" />
                    <path :class="{ 'hidden': active }"  fill="currentColor" d="M244 130.6l-12-13.5-4.2-4.7c-26-29.2-65.3-42.8-103.8-35.8c-53.3 9.7-92 56.1-92 110.3v3.5c0 32.3 13.4 63.1 37.1 85.1L253 446.8c.8 .7 1.9 1.2 3 1.2s2.2-.4 3-1.2L443 275.5c23.6-22 37-52.8 37-85.1v-3.5c0-54.2-38.7-100.6-92-110.3c-38.5-7-77.8 6.6-103.8 35.8l-4.2 4.7-12 13.5c-3 3.4-7.4 5.4-12 5.4s-8.9-2-12-5.4zm34.9-57.1C311 48.4 352.7 37.7 393.7 45.1C462.2 57.6 512 117.3 512 186.9v3.5c0 36-13.1 70.6-36.6 97.5c-3.4 3.8-6.9 7.5-10.7 11l-184 171.3c-.8 .8-1.7 1.5-2.6 2.2c-6.3 4.9-14.1 7.5-22.1 7.5c-9.2 0-18-3.5-24.8-9.7L47.2 299c-3.8-3.5-7.3-7.2-10.7-11C13.1 261 0 226.4 0 190.4v-3.5C0 117.3 49.8 57.6 118.3 45.1c40.9-7.4 82.6 3.2 114.7 28.4c6.7 5.3 13 11.1 18.7 17.6l4.2 4.7 4.2-4.7c4.2-4.7 8.6-9.1 13.3-13.1c1.8-1.5 3.6-3 5.4-4.5z" />
                </svg>
                <span id="hitCounter">
                    {{ page.hit_counter }}
                </span>
            </p>
            <script src="https://www.google.com/recaptcha/api.js" async defer></script>
            <div class="g-recaptcha"
                  data-sitekey="6Le-5OEUAAAAAFc0V3__QX1qtLggUjiXpFbWtPQ9"
                  data-callback="updatePostHitCounter"
                  data-size="invisible">
            </div>

            <script>
                    function onSubmit(){
                        var likeButton = document.getElementById('like-button');
                        var currentHitCounter  = document.getElementById("hitCounter").innerHTML;
                        if (likeButton.classList.contains('text-white')){
                            currentHitCounter--;
                            document.getElementById("hitCounter").innerHTML = currentHitCounter;

                        }else{
                            currentHitCounter++
                            document.getElementById("hitCounter").innerHTML = currentHitCounter;

                        }
                        grecaptcha.execute();
                    }
                    function updatePostHitCounter(token) {
                        var likeButton = document.getElementById('like-button');
                        if (likeButton.classList.contains('text-white')){
                            var activeClass = 'true'
                        }else{
                            var activeClass = 'false'
                        }
                        var xmlhttp = new XMLHttpRequest();

                        xmlhttp.onreadystatechange = function() {
                            if (xmlhttp.readyState == XMLHttpRequest.DONE) {
                               if (xmlhttp.status == 200) {
                                   document.getElementById("hitCounter").innerHTML = xmlhttp.responseText;
                                   grecaptcha.reset();
                               }
                               else if (xmlhttp.status == 400) {
                                  console.log('error');
                               }
                               else {
                                   console.log('error');
                               }
                            }
                        };

                        xmlhttp.open("GET", "{{ absolute_uri }}?update_hit_counter=" + activeClass + '&captcha_token=' + token, false);
                        xmlhttp.send();
                    }
            </script>
        {% endif %}

        <div class="prose">
            {{ page.text|richtext }}
        </div>
        {% if siblings %}
        <!-- #region MORE ARTICLES -->
        <div class="flex flex-col gap-9 mt-14">
            <h4 class="text-h3 font-bold">
                Similar Blogs
            </h4>
            {% for sibling in siblings %}

            {% include 'blog/includes/post-thumbnail.html' with post=sibling %}
            {% endfor %}

        </div>
        {% endif %}
        <!-- #endregion MORE ARTICLES -->
    </div>
    <!-- #endregion ARTICLE CONTENT -->


</section>



<!-- #endregion ARTICLE CONTAINER -->








{% endblock %}